<div class="dropdown ml-auto pc-menu">
  <a id="user-settings" class="dropdown-toggle dropdown-header" data-toggle="dropdown" href="#">
    <span id="user-name"><%= current_user.name %></span>
    <span class="caret"></span>
  </a>

  <div class="dropdown-menu" role="menu">
    <a><%= link_to 'Edit Profile', edit_user_registration_path, class: 'dropdown-item' %></a>
    <a><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %></a>
  </div>
</div>

<li class="mobile-menu">
  <%= link_to 'Edit Profile', edit_user_registration_path %>
</li>
<li class="mobile-menu">
  <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
</li>