<div class="container" id="login-form">
      <h1 class="text-center">Log in</h1>

      <%= form_for(resource,
                             as: resource_name,
                             url: session_path(resource_name)) do |f| %>

        <label>Email address</label>
        <%= f.email_field :email,
                          autofocus: true,
                          class: 'form-control',
                          placeholder: 'email' %>

        <label>Password</label>
        <%= f.password_field  :password,
                              autocomplete: "off",
                              class: 'form-control',
                              placeholder: 'password' %>

        <div class="checkbox">
          <% if devise_mapping.rememberable? -%>
            <h3><%= f.check_box :remember_me%>Remember me</h3>
          <% end -%>
        </div>
        <br/>
        <%= f.submit "Log in", class: 'form-control btn login-button' %>
      <% end %>
</div>
